.contenedor {
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 25px;
    justify-items: center;
  }

  .container{
    min-height:max-content;
  }
.search{
  margin-top: 1rem;
}
  .search input{
    border: none;
    border-radius: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  
.search button{
  border:none;
  border-radius: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-family: "Roboto";
  font-weight: 500;
  background-color:skyblue;
  color: white;
  transition: 0.5s;
  width: 6rem;
}

.search button:hover{
  filter: brightness(1.1);
}