.teamContainer{
    background-color: grey;
    width: 100%;
    height: 60%;
}

.teamTitle{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.powerstats p {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5%, 2fr));
    grid-gap: 25px;
    line-height: 1rem;
}

.leftContainer {
    width: 20%;
    background-color: whitesmoke;
}

.rightContainer {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.infoContainer {
    display: flex;
}

.emptyContainer {
    background-color: grey;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-family: "Roboto";
}

.averages{
    display: flex;
    justify-content: space-evenly;
}

.averages h5{
    font-size: 1.2rem;
}

.leftContainer h1{
    font-family: "Bebas Neue";

    font-size: 2.5rem;
}
.powerstats h1{
    font-family: "Bebas Neue";
    font-size: 1.5rem;
}

.powerstats p {
    font-family: "Roboto";
}